# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Local Database... must create new superuser on production site.
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Temporary Personal Access Token
# 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
# Expires 11/24/2021