{% extends 'blog/base.html' %}

{% block content %}
    <!-- Use Django template tags to show the posts (passed from views.py, created in models.py) -->
    {% for post in posts %}
    <!-- Django understands posts as a list of objects. -->
    <article class="post">
        <!-- post attributes are defined in models.py -->
        <time class="date">published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <!-- |linebreaksbr is piping the posts' text through 
            a filter to convert line-breaks into paragraphs -->
    </article>
    {% endfor %}
{% endblock %}