<!--
    Template for showing a list of posts. 
    Receives list of posts from blog.views
-->

{% extends 'blog/base.html' %}

{% block content %}
    <!-- 
        Django understands posts as a list of objects.
        Therefore, loop through the posts to show them in HTML.
        The pk is data associated with an individual post which
        is created by default. Check blog.views for more.
    -->
    {% for post in posts %}
    <article class="post">
        <time class="date">published: {{ post.published_date }}</time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}
{% endblock %}